In [2]:
#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install seaborn

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df_category = pd.read_csv("amazon_categories.csv")

In [5]:
df_category.head()

   id                     category_name
0   1          Beading & Jewelry Making
1   2                 Fabric Decorating
2   3       Knitting & Crochet Supplies
3   4              Printmaking Supplies
4   5  Scrapbooking & Stamping Supplies

In [8]:
df_category.shape

(248, 2)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             248 non-null    int64
 1   category_name  248 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.0+ KB

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             248 non-null    int64
 1   category_name  248 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.0+ KB

THIS IS A DEMO PROJECT